.background{
    background-color: rgb(255, 254, 253);
    padding: 10px;
    font-size: 15pt;
    margin-right: -34px;
}
.text_1{
  text-align: center;
  color: rgb(60, 69, 75); 
  padding: -5px;
  font-size: 19pt;
}
h1{
  text-align: center;
  color: rgb(60, 69, 75); 
  font-size: 24pt;
  }
body{
    background-color: rgb(65, 63, 63);
    background-size: 100%;
}
.foto-1{
    float:left;
    margin: 4px 10px 2px 0px; 
}
.foto-2{
    float: right;
    margin: 4px 10px 2px 0px; 
}
#navbar ul{
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
    text-align: center;
  }
#navbar li:hover ul { display: block; }
#navbar, #navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
#navbar {
    height: 30px;
    background-color: #666;
    padding-left: 5px;
    min-width: 470px;
    text-align: center;
  }
#navbar li {
    float: left;
    position: relative;
    height: 100%;
    text-align: center;
  }
#navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
#navbar ul li { float: none; }
#navbar li:hover { background-color: #f90; }
#navbar ul li:hover { background-color: #666; }


